:root {
  --dominant-color: #ffffff;
  --main-headlines-color: #2e2f42;
  --main-text-color: #434455;
  --main-blue-color: #4d5ae5;
  --inside-buttons-color: #f4f4fd;
  /* --border-buttons-color: #E7E9FC; */
}

body {
  font-family: Roboto;
  color: var(--main-text-color);
}
.logo {
    font-family: raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: var(--main-headlines-color)
}
.list {
    list-style-type: none;
}